
[gcode_macro ENABLE_SSR]
gcode:
  SET_PIN PIN=ssr_relay VALUE=1

[gcode_macro ENABLE_SSR_WITH_WAIT]
gcode:
  SET_PIN PIN=ssr_relay VALUE=1
  # Avoid delay when calling set bed temperature on second layer
  {% if printer.heater_bed.temperature >= printer.heater_bed.target * 0.9 %} # avoids not working on PID fluctuations
    G4 P1000
  {% endif %}

[gcode_macro DISABLE_SSR]
gcode:
  SET_PIN PIN=ssr_relay VALUE=0

[gcode_macro DISABLE_SSR_WITH_WAIT]
gcode:
  G4 P1000
  SET_PIN PIN=ssr_relay VALUE=0

[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: _SET_HEATER_TEMPERATURE
gcode:
  {% if params.HEATER == "heater_bed" %}
    {% if params.TARGET is defined and params.TARGET|int > 0 %}
      ENABLE_SSR_WITH_WAIT
      _SET_HEATER_TEMPERATURE {rawparams}
    {% else %}
      _SET_HEATER_TEMPERATURE {rawparams}
      DISABLE_SSR_WITH_WAIT
    {% endif %}
  {% else %}
    _SET_HEATER_TEMPERATURE {rawparams}
  {% endif %}

[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
  _TURN_OFF_HEATERS
  DISABLE_SSR_WITH_WAIT

[gcode_macro M140]
rename_existing: M140.1
gcode:
  {% if params.S is defined and params.S|int > 0 %}
    ENABLE_SSR_WITH_WAIT
    M140.1 {rawparams}
  {% else %}
    M140.1 {rawparams}
    DISABLE_SSR_WITH_WAIT
  {% endif %}

[gcode_macro M190]
rename_existing: M190.1
gcode:
  {% if params.S is defined and params.S|int > 0 %}
    ENABLE_SSR_WITH_WAIT
    M190.1 {rawparams}
  {% else %}
    M190.1 {rawparams}
    DISABLE_SSR_WITH_WAIT
  {% endif %}