# Neopixel leds used on the toolhead (stealthburner style)
# using LED_effects

## This file contain the color definitions used for the different LED states
# You can override it if needed to define your own colors. These defaults
# should be a good starting point

[gcode_macro _LEDS_COLORS_DEFINITION]
variable_colors: {
        'logo': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'done_printing': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'nozzle': {
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
            'done_printing': {'r': 1.0, 'g': 1.0, 'b': 0.0, 'w': 1.0},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'caselight': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'done_printing': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'minidisplay': {
            'on': {'r': 0.0, 'g': 0.2, 'b': 0.4, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'error': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w':0.0},
            'shutdown': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }
gcode:


[gcode_macro _USER_VARIABLES]
variable_status_leds_enabled: True
variable_status_leds_effects_enabled: True
variable_status_leds_logo_led_name: "status_leds_logo"
variable_status_leds_logo_idx: '1'
variable_status_leds_nozzle_led_name: "status_leds_nozzle"
variable_status_leds_nozzle_idx: '2,3'
gcode:

# Also include directly the leds control macros from here
# [include macros/hardware_functions/status_leds.cfg]

[neopixel status_leds_logo]
pin: STATUS_NEOPIXEL
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[neopixel status_leds_nozzle]
pin: STATUS_NEOPIXEL
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#########################################################
# Define led effects for the different printer states
#########################################################
## Ready State
[led_effect sb_logo_standby]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  20 1 top (0.0, 0.0, 1.0)

[led_effect sb_nozzle_standby]
leds:
    neopixel:status_leds_nozzle (2,3)
autostart:              false
frame_rate:             24
layers:
        breathing  20 1 top (0.0, 0.0, 1.0)

## Busy State
[led_effect sb_logo_busy]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

## Heating State
[led_effect sb_logo_heating]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

[led_effect sb_nozzle_heating]
leds:
    neopixel:status_leds_nozzle (2,3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

## Leveling State
[led_effect sb_logo_leveling]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

## Homing State
[led_effect sb_logo_homing]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.6, 0.2)

## Cleaning State
[led_effect sb_logo_cleaning]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

## Meshing State
[led_effect sb_logo_meshing]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.2, 1.0, 0.0)

## Calibrating Z State
[led_effect sb_logo_calibrating_z]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.0, 0.35)

## Printing State
[led_effect sb_logo_printing]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

## Printing Done State
[led_effect sb_logo_done_printing]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    strobe 0.2 0.6 add (1.00,1.00,1.00) 
    breathing 10.00 0.00 subtract (0.0,0.40,0.0) 
    static 0.00 1.00 top (0.0,1.0,0.0)
    
[led_effect sb_nozzle_done_printing]
leds:
    neopixel:status_leds_nozzle (2,3)
autostart:              false
frame_rate:             24
layers:
    strobe 0.2 0.6 add (1.00,1.00,1.00) 
    breathing 10.00 0.00 subtract (0.0,0.40,0.0) 
    static 0.00 1.00 top (0.0,1.0,0.0)

## Error State
[led_effect sb_logo_error]
leds:
    neopixel:status_leds_logo (1)
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

[led_effect sb_nozzle_error]
leds:
    neopixel:status_leds_nozzle (2,3)
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

## On State
[led_effect sb_logo_on]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

[led_effect sb_nozzle_on]
leds:
    neopixel:status_leds_nozzle (2,3)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

## Off State
[led_effect sb_logo_off]
leds:
    neopixel:status_leds_logo (1)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

[led_effect sb_nozzle_off]
leds:
    neopixel:status_leds_nozzle (2,3)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

## Printer startup effect
[led_effect startup]
leds:
    neopixel:status_leds_nozzle
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

    ## Critical error effect
[led_effect critical_error]
leds:
    neopixel:status_leds_nozzle
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true
