[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "vorontap"
variable_cartographer_survey_randomise_tap: 5 #(in mm)
variable_startprint_actions: "extruder_preheating", "bed_soak", "chamber_soak", "tilt_calib", "bedmesh", "clean", "z_offset", "extruder_heating", "purge", "clean", "primeline"
gcode:

# TAP probe definition also include the probe management macro directly from here
[include ../macros/base/probing/generic_probe.cfg]

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 30 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[stepper_z]
endstop_pin: probe:z_virtual_endstop # use cartographer as virtual endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0

# special start module for z calibrating
[gcode_macro _CARTOGRAPHER_Z_CALIB]
description: Perform the Z calibration using the cartographer survey
gcode:
    #folling instruction of carto survey
    # move to tap location and probe_calibrate
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set touch_location_x, touch_location_y = printer["configfile"].config["bed_mesh"]["zero_reference_position"].split(',')|map('trim')|map('float') %}
    {% set homing_travel_speed = printer["gcode_macro _USER_VARIABLES"].homing_travel_speed|float * 60 %}
    {% set cartographer_survey_randomise_tap = printer["gcode_macro _USER_VARIABLES"].cartographer_survey_randomise_tap|int *10 %}

    # randomise a little bit tap location
    {% set random_offset_x = (range(-cartographer_survey_randomise_tap, cartographer_survey_randomise_tap) | random) %}
    {% set random_offset_y = (range(-cartographer_survey_randomise_tap, cartographer_survey_randomise_tap) | random) %}
    {% set final_tap_location_x = (touch_location_x + random_offset_x/10)|float %}
    {% set final_tap_location_y = (touch_location_y + random_offset_y/10)|float %}

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="CALIBRATING_Z"
    {% endif %}

    {% if verbose %}
        RESPOND MSG="Auto Z calibration..."
    {% endif %}

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home printer first!") }
    {% endif %}

    {% if verbose %}
        { action_respond_info("Probe calibrate") }
    {% endif %}

    SAVE_GCODE_STATE NAME=_CARTOGRAPHER_Z_CALIB

    #go to tap_location
    G90
    G0 X{final_tap_location_x} Y{final_tap_location_y} Z10 F{homing_travel_speed}

    RESTORE_GCODE_STATE NAME=_CARTOGRAPHER_Z_CALIB

    #Calibrate probe
    CARTOGRAPHER_TOUCH_HOME


    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}


[gcode_macro _MODULE_Z_CALIB]
gcode:
    # ----- Z CALIBRATION --------------------------------
    # If auto z calibration plugin is enabled, we measure the nozzle height using the physical Z endstop probe, followed by
    # a measurement of the probe on the physical Z endstop probe, and then a measurement of the center of the bed (or mesh)
    # If it's a TAP probe or inductive probe or no Z calibration, then it's only a G28 Z to get a correct Z offset measurement
    {% set zcalib_plugin_enabled = printer["gcode_macro _USER_VARIABLES"].zcalib_plugin_enabled %}

    {% if printer.configfile.settings.cartographer is defined %}
        _CARTOGRAPHER_Z_CALIB
    {% else %}
        G28 Z
    {% endif %}

    {% if zcalib_plugin_enabled %}
        CALIBRATE_Z
    {% endif %}


[gcode_macro _MODULE_BED_MESH]
gcode:
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set bed_mesh_enabled = printer["gcode_macro _USER_VARIABLES"].bed_mesh_enabled %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}

    {% if bed_mesh_enabled %}
        {% if status_leds_enabled %}
            STATUS_LEDS COLOR="MESHING"
        {% endif %}
        {% if verbose %}
            RESPOND MSG="Bed mesh measurement..."
        {% endif %}
        BED_MESH_CALIBRATE
    {% endif %}
