[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[firmware_retraction]
retract_length: 0.5
retract_speed: 30
unretract_speed: 30

[include mcu.cfg]
[include bed.cfg]
[include extruder.cfg]
[include orbiter_sensor.cfg]
[include adxl.cfg]
[include axis/x.cfg]
[include axis/y.cfg]
[include axis/z.cfg]
# [include crtouch.cfg]
[include klicky/index.cfg]